$theme-color: #e5473c;
$theme-bg-color: #e5473c;

$font-size-small-ss: 28px;
$font-size-small-s: 30px;
$font-size-small: 34px;
$font-size-small-x: 36px;
$font-size-medium: 38px;
$font-size-medium-x: 48px;
$font-size-large-s: 52px;
$font-size-large: 54px;
$font-size-large-x: 56px;$theme-color: #e5473c;
$theme-bg-color: #e5473c;

$font-size-small-ss: 28px;
$font-size-small-s: 30px;
$font-size-small: 34px;
$font-size-small-x: 36px;
$font-size-medium: 38px;
$font-size-medium-x: 48px;
$font-size-large-s: 52px;
$font-size-large: 54px;
$font-size-large-x: 56px;